[Desktop Entry]
Icon=application-x-executable
Type=Service
ServiceTypes=KPluginInfo
Name=Stevia MBR Structure
X-KDE-PluginInfo-Author=Elaina Claus
X-KDE-PluginInfo-Name=mbr
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://chtm.me
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=false
